.signin {

}

.md-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.content {
    max-width: 100%;
    width: 462px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    position: absolute;
}

.content form >div {
  padding: 50px;
}

.btnSubmit {
  background: #ff5454;
  color: #fff;
  border-radius: 30px;
  padding: 19px 0;
  height: auto;
  margin: 0;
  outline: none;
  width: 100%;
}
.content form .md-button.md-theme-default.md-primary {
    color: #fff;
    margin-top: 26px;
    margin-bottom: 30px;
}

.md-title {
  font-size: 35px;
  margin: 0;
}

.md-field.md-theme-default .md-helper-text, .md-field.md-theme-default .md-count, .md-field.md-theme-default label,
.content form input {
  color: #979ba3;
}

.md-button-content {
    font-size: 14px;
}
.content form .forgot {
  color: #3e4450;
  font-size: 16px;
}
