nav ul,
.breadc ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
.md-theme-default ul a {
  color: #ccc;
  text-decoration: none;
}

.md-theme-default ul a:hover {
  color: #fff;
}

header {
  background: #161616;
  padding: 0px 90px 24px;
}

header nav {
  padding-top: 17px;
  margin-bottom: 30px
}
header h1 {
  float: left;
}
.md-theme-default header nav a {
  text-transform: uppercase;
  color: #757e8e;
  font-size: 14px;
}
.breadc a {
  font-size: 32px;
  color: #fff;

}
.notification {
  padding-top: 0px;
}
.notification .separator a {
  color: #ccc;
  text-decoration: none;
  font-size: 12px;
}
.md-progress-bar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.formContent {
  margin: 20px auto 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
}
main {
  padding: 0 0 160px;
}
main .md-avatar {
  width: 225px;
  height: 225px;
  max-width: 100%;
  border-radius: 100%;
}
.md-card-actions .md-button {
  margin-left: auto;
  margin-right: auto;
}
.formContent .btnEdit {
  background: none;
  border-radius: 30px;
  border: 1px solid #6a6c79;
  padding: 0 25px;
  height: 55px;
  margin-left: 0;
  color: #6a6c79;
  outline: none;
}
.formContent .btnSubmit {
  background: #ff5454;
  color: #fff;
  border-radius: 30px;
  padding: 0px 42px;
  height: 55px;
  margin-right: 0;
}
.formContent .md-field .md-input, .edit_pass .md-field .md-textarea {
  border: 1px solid #dfe0e4;
  height: 50px;
  padding: 0 10px;
  color: #ccc;
}
.formContent .md-field:after {
  height: 0px;
}

.formContent .md-field label {
  top: -10px;
  font-size: 12px;
  color: rgba(0,0,0,0.54);
}
.formContent .separator {
  margin-bottom: 65px;
}
header .separator {
  text-align: right;
}
header .notification .separator button {
  background: none;
  color: #fff;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
header .notification .separator .btn-group > button:first-child {
  padding-left: 5px;
  padding-right: 5px;
}
header .notification .separator .btn-group > button:first-child + div {
  padding-top: 8px;
}
.dropdown-menu {
  display: block;
  background: #fff;
  margin-top: -10px;
  padding: 0 10px;
}
.md-theme-default ul.dropdown-menu li a {
  color: #191919;
}
.md-theme-default ul.dropdown-menu li a:hover {
  color: #ccc;
}
